body{

background:	#FFF7F2;
font-family: sans-serif;
margin: 10rem 10rem;
color: 	#4D577F;

}

.tileDonuts {
margin: 3rem auto ;
align-content: center;
display: flex;
position: absolute;
bottom: 5px;
right: 50px;
}

.svg{
margin: auto;
align-content: center;
justify-content: center;

}


.tile{
background: #F3EAE5;
padding: 1rem 1rem;
margin: 2rem;
width: 15rem;
height: 22rem;
border: 1px solid 	#4D577F;
position: relative;

}

.tile-container {
    display: flex;


}

.input {
width: 2rem;
height: 1rem;
/* border: 2px solid red */

}

.tile-title{
    /* border: 2px solid pink */
}


.labels {
    /* border: 2px solid green; */
    display: block;
    /* padding:1rem; */

}

.input-label-pair{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:0.5rem;
}

.overview-london-donut-collumn{
width: 5rem;
border-left: 5px solid #D36543;
padding-left: 1rem;
position: absolute;
right: 0rem;
top: 0rem;
}

.overview-donut-collum {
    width: 5rem;
    padding-left: 1rem;


}

.our-overview-container {
position: relative;
width: 100%;
/* border: 3px solid pink; */
height: 20rem;
margin-top: 6rem;

}
.overview-donut{
    padding:0.5rem;
}
.sub-heading{

font-size: 1rem;
margin-top: 0;
}