
/* GENERAL */
body{
background:	#FFF7F2;
font-family: sans-serif;
color: 	#4D577F;
max-width:100%;
margin:0;
height: 100vh;
}


.svg{
margin: auto;
align-content: center;
justify-content: center;

}

.title {
margin: 0 auto;
padding-top:3rem;
padding-bottom: 3rem;
background:	#FFF7F2;
z-index: 10;
}


.sub-heading{
font-size: 1rem;
margin-top: 0;
width: 8rem;
text-align: center;
}

.navbar{
position:fixed;
top: 0;
width: 100%;
display: flex;
justify-content: flex-end;
border-bottom: 3px solid hsla(228, 25%, 40%, 0.4);
background: #FFF7F2;
z-index: 20;

}

.navbar-link{
text-decoration: none;
margin: 1rem;
font-family: sans-serif;
color: hsla(228, 25%, 40%, 0.5);
font-size: 0.9rem;
padding: 0.5rem;
text-align: right;
display:flex;
align-items: flex-end;
}


#root{
margin-top: 6rem;
/* position: relative; */

}

.arc:hover{
opacity: 0.5
}


.template-donut{
    z-index: -1;
}




/* HOME ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.H-title {
    width: 18.5rem;
    padding-top: 14rem;
    border-bottom: 6px solid #D36543;
    padding-bottom: 1rem;
    margin: 0 auto;
    font-size: 3.5rem;
}


/* OUR OVERVIEW ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.O-O-page-container {
    width:80%;
    margin:auto;
    /* border: 3px solid pink; */


    
    }
.O-O-tile-container {
    position: relative;
    /* border: 3px solid pink; */
    height: 20rem;
    margin-top:3rem;
    display: flex;
    overflow: hidden;
    }
    
.O-O-tile {
    width: 5rem;
    padding-right: 1rem;
    }
        
.O-O-london-donut-collumn{
width: 5rem;
border-left: 5px solid #D36543;
padding-left: 2rem;
padding-right:1rem;
position: absolute;
right: 0rem;
top: 0rem;
background:#FFF7F2;
z-index: 4;
}




.O-O-vertical-label-container{

padding-right: 1.2rem;

}

.O-O-vertical-label{
    margin-top: 4.4rem;
    width: 5rem;
    text-align: right;
    text-anchor: end;
    margin-left: 0;
}


.O-O-collumn-heading{
font-size: 1rem;
text-align: center;
text-anchor:middle;
margin-bottom: 0;
margin-left: 0.3rem;
}



/* YOUR OVERVIEW ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Y-O-page-container{
margin:auto;

width:80%;

}
.Y-O-tile-container{
display: flex;
width:70%;
justify-content: space-between;
}

.Y-O-tile{
/* background: #F3EAE5; */
padding: 1rem 1rem 1rem 0;
margin: 0 9rem 0rem 0rem;
width: 15rem;
height: 22rem;
/* border: 1px solid 	#4D577F; */
position: relative;

}

.Y-O-tile-title{
    text-align: left;
    font-size: 1.35rem;
    margin-top: 0;
    width: 11rem;
    border-bottom: 3px solid #4D577F;
    padding-bottom: 0.5rem;
    }

.Y-O-form{
    border-top: 3px solid #4D577F;
    /* background: #F3EAE5;
    padding: 1rem 1rem;
    margin:  0rem 2rem;
    width: 15rem;
    height: 7rem;
    position: relative; */
}

.Y-O-input {
    width: 2rem;
    height: 1rem;
    /* border: 2px solid red */

}

.Y-O-input-labels {
    /* border: 2px solid green; */
    display: block;
    /* padding:1rem; */
    
    }
    

.Y-O-input-label-pair{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin:0.5rem;
}

.Y-O-donut-div{
    height: 18rem;  
}

.Y-O-template-donut{
    display: flex;
    position: absolute;
    bottom: 30px;
    }

/* OUR HIRES TO APPLICATIONS ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.O-H-page-container{
    width:80%;
    margin:auto;


}

.O-H-tile-container{

    margin: auto;
}

.O-H-tile{
    /* width:70%; */
    margin-left: 16rem;
    display:flex;
    justify-content: space-around;

    /* box-shadow: 2px 5px 3px 10px black; */
    /* background:  */
}
    

.O-H-horizontal-sub-headings{

    padding-left: 12rem;
    display:flex;
    justify-content: space-around;
    /* padding-bottom: 0.5rem; */
    border-bottom: 5px solid #D36543;
    padding-right:4rem;

}

.O-H-vertical-sub-heading{
    padding-top: 1rem;
    text-align: left;

}

.O-H-diversity-category-tab-container{
    padding-bottom:2rem;
}

.O-H-diversity-category-tab{
border: none;
border-bottom: 2px solid #D36543;
background: #FFF7F2;
margin-right: 0.5rem;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/








.small-donut{
z-index: 5;
position:absolute;
right:30px;
top: 30px;
}

.big-donut{
position:absolute;
z-index: 0;


}





