@import '../variables.scss';

.O-O-page-container {
    width:80%;
    margin:auto;
    }

.O-O-tile-container {
    position: relative;
    height: 20rem;
    margin-top:3rem;
    @include flexbox;
    overflow: hidden;
    }
    
.O-O-tile {
    width: 5rem;
    padding-right: 1rem;
    }
        
.O-O-london-donut-collumn{
width: 5rem;
border-left: 5px solid $sienna;
padding-left: 2rem;
padding-right:5rem;
position: absolute;
right: 0rem;
top: 0rem;
background:$background;
z-index: 4;
}




.O-O-vertical-label-container{
margin-top: 0.5rem;
margin-right: 3.5rem;
}

.O-O-vertical-label{
    padding-top: 3.8rem;
    margin-bottom: 0.5rem;
    width: 5rem;
    margin-left: 0;
    text-align: end;
}


.O-O-collumn-heading{
font-size: 1rem;
text-align: center;
text-anchor:middle;
margin-bottom: 0;
margin-left: 0.3rem;
}

