// COLOURS
$blue: #1a73e8;
$translucentBlue: #1a73e871;
$lightBlue: #039be5;
$paleBlue: #6ba1e9;
$darkGray: #333;
$translucentDarkGray: #3333334b;

// BORDERS
$borderRadius: 4px;

@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

