// COLOURS
$background: #FFF7F2;
$navBarGrey: hsla(228, 25%, 40%, 0.4);
$darkBlue: #4D577F;
$sienna: #D36543;


@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

