// COLOURS
$background: rgb(255, 247, 242);
$navBarGrey: rgba(77, 87, 128, 0.4);
$darkBlue: rgb(77, 87, 127);
$sienna: rgb(211, 101, 67);

@mixin flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}
